@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#fff;}
html { padding:0; margin:0;}

a { text-decoration:none;}
a:hover { text-decoration:underline;}

/* main */
.main { padding:0; margin:0 auto; background: url(images/header_bg.gif) top repeat-x;}
.main2 { padding:0; margin:0 auto; background: url(images/header_bg2.gif) top repeat-x;}
/********** header **********/
.header { padding:0; margin:0 auto; width:990px;}
/* logo */
.logo { padding:0 0 0 40px; margin:0; width:350px; float:left;}
/* search */
.search { width:320px; float:left; padding:10px 0 0 0; margin:0; height:32px;}
.search span { display:block; float:left;}
.search form { display:block; float:left; padding:0; margin:0;}
.search form .keywords { float:left; background:url(images/search_bg.gif) left top no-repeat; border:0; height:14px; width:146px; padding:5px 0 5px 10px; margin:0; font:normal 10px Arial, Helvetica, sans-serif; color:#000;}
.search form .button { float:left; margin:0; padding:0;}
/* simple_text */
.simple_text { float:right; width:100px; margin:15px 0 0 0; padding:0; font:normal 11px Arial, Helvetica, sans-serif; color:#fff;}
.simple_text a { text-decoration:none; color:#fff;}
.simple_text a:hover { text-decoration:underline;}
/* menu */	
.menu { padding:0; margin:0; width:375px; float:right;}
.menu ul { padding:0; margin:0; list-style:none; border:0;}
.menu ul li { float:left; margin:0; padding:0 5px; border:0;}
.menu ul li a { float:left; margin:0; padding:13px 5px; color:#414141; font:bold 11px Arial, Helvetica, sans-serif; text-decoration:none;}
.menu ul li a:hover { background: url(images/hover.gif) top repeat-x; font: bold 11px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; border-left:1px solid #3b8de2; border-right:1px solid #3b8de2; border-bottom:1px solid #3b8de2; padding:13px 4px 12px 4px;}
.menu ul li a.active { background: url(images/hover.gif) top repeat-x; font: bold 11px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; border-left:1px solid #3b8de2; border-right:1px solid #3b8de2;  border-bottom:1px solid #3b8de2; padding:13px 4px 12px 4px;}
/*header_text*/
.header_text { width:990px; margin:0 auto; padding:0; background:url(images/simple_bg_all.jpg) top no-repeat;}
.header_text .div { float:right; width:890px; padding:10px 0; margin:0;}
.header_text img.screen { float:left; margin:25px 0;}
.header_text .div .left1 { float:right; width:450px; padding:0; margin:0;}
.header_text .div .left1 h2 { font:bold 38px Arial, Helvetica, sans-serif; color:#62a9f2; padding:20px 0 0 20px; margin:0;}
.header_text .div .left1 h2 span { color:#3f3f3f;}
.header_text .div .left1 a { color:#cd0a4f; text-decoration:underline;}
.header_text p { font:normal 15px Arial, Helvetica, sans-serif; color:#7b7b7b; padding:5px 0 5px 20px; margin:0; line-height:1.8em;}
.header_text p.ulli { font: normal 11px  Tahoma, Geneva, sans-serif; color:#777; padding:3px 15px; margin:2px 0 2px 20px; background: url(images/ul_li_simple.gif) left no-repeat;}
/*header_text_bg2*/
.header_text_bg2 { margin:0; padding:0;}
/* header_text2 */
.header_text2 { height:74px; margin:0; padding:0 20px;}
.header_text2 h2 { width:300px; float:right; font: bold 38px Arial, Helvetica, sans-serif; color:#414141; margin:0; padding:0;}
.header_text2 h2 span { color:#62a9f2;}
/* Navigation */	
ul.Navigation { padding:0; margin:0; list-style:none; border:0;}
ul.Navigation li { margin:5px; padding:0; border:0; border:1px solid #d5d5d5;}
ul.Navigation li a { display:block; margin:0; padding:3px 0 3px 20px; border:1px solid #FFF; color:#62a9f2; font:normal 11px Arial, Helvetica, sans-serif; text-decoration:none; background: #f4f4f4 url(images/sub_ul_li.gif) 10px center no-repeat; line-height:1.8em;}
ul.Navigation li a:hover { background:#a5c8ed url(images/right_ul_li.gif) 10px center no-repeat; color:#fff;}
ul.Navigation li a.active { background:#a5c8ed url(images/right_ul_li.gif) 10px center no-repeat; color:#fff;}
/********** body **********/
.body_top { margin:0; padding:0; background:#efefef;}
.body { width:970px; margin:0 auto; padding:20px 10px; }
.body_resize { border:7px solid #d4d4d5; background:#fff url(images/body_resize1.gif) top repeat-x; margin:10px; padding:5px;}
.body_resize .bglo { width:300px; float:left; margin:0; padding:0 4px;}
.body_resize .bglo h3 { font: normal 18px Arial, Helvetica, sans-serif; color:#fff; padding:5px 5px 20px 5px; margin:0;}
.body_resize .bglo p { font: normal 11px Arial, Helvetica, sans-serif; color:#010101; line-height:1.8em; padding:5px; margin:0;}
.body_resize .bglo ul { padding:5px 0; margin:0; list-style:none;}
.body_resize .bglo ul li { font: normal 11px Arial, Helvetica, sans-serif; color:#010101; line-height:1.8em; padding:0 5px; margin:0;}
.body_resize .bglo img { float:left; margin:10px 15px; padding:0;}
.body_resize .bglo a { font:normal 11px Tahoma, Geneva, sans-serif; color:#75b3f4; text-decoration:underline;}
.body h2 { color:#67685f; font:normal 24px Arial, Helvetica, sans-serif; margin:5px 0; padding:5px 5px;}
.body h2 span { color:#60a8f2;}
.body img { float:left; padding:0; margin:5px 15px;}
.body img.small { float:right; padding:0; margin:5px 15px;}
.body p { font:normal 11px Arial, Helvetica, sans-serif; color:#3d3d3d; line-height:1.8em; padding:5px; margin:0;}
.body p span { color:#242424; }
.body a { text-decoration:underline; color:#1a6fc7; line-height:1.8em;}
.body_small { width:270px; float:right; margin:0; padding:10px 25px;}
.body_small p.test { background:url(images/bg_test.gif) top no-repeat; height:124px; padding:5px 10px; margin:0 auto;}
.body_big { width:600px; float:left; margin:0; padding:10px 25px;}
.botttoms { width:150px; margin:5px; padding:5px; float:right;}
.botttoms a { font: normal 13px Arial, Helvetica, sans-serif; color:#994f69; padding:2px 5px; margin:2px; text-decoration:underline;}
.botttoms a:hover { color:#fc0c65; background:#320e1c; text-decoration:none;}
/*bloga*/
.body .bloga { width:294px; float:left; margin:0; padding:30px 15px;}
.body .bloga p { font: normal 11px Arial, Helvetica, sans-serif; color:#fff; padding:5px; margin:0; line-height:1.8em;}
.body .bloga img.normmal { float:left; margin:5px 5px; padding:0;}
/* FBG */
.FBG { background:#8fc008 url(images/FBG_bg.gif) top repeat-x; margin:0; padding:0;}
.FBG_resize .smalll { width:252px; float:right; margin:0; padding:10px 25px;}
.FBG_resize .biig {width:610px; float:left; margin:0; padding:10px 25px;}
.FBG_resize { width:990px; margin:0 auto; padding:0;}
.FBG_resize h2 { font: normal 24px Arial, Helvetica, sans-serif; color:#fff; margin:10px 0; padding:5px;}
.FBG_resize p { font: normal 11px Arial, Helvetica, sans-serif; color:#fff; padding:5px; margin:0; line-height:1.8em;}
.FBG_resize img { float:left; margin:15px 10px; padding:0;}
.FBG_resize a { font: bold 11px Tahoma, Geneva, sans-serif; color:#fff; text-decoration:underline; padding:0; margin:0;}
.FBG_resize p.test { width:212px; height:117px; background:url(images/test_bg.gif) left top no-repeat; padding:15px 20px; margin:0; font:italic 11px Arial, Helvetica, sans-serif; color:#3e4602; line-height:1.8em;}
.FBG_resize p.pod {}

/* END_bloga*/
/********** footer **********/
.footer_resize { margin:0; padding:0; border-top:1px solid #6aab05; background:#fcfcfc;}
.footer { margin:0 auto; padding:0 20px; width:990px;  }
.footer ul { margin:0; padding:30px 10px 30px 10px; list-style:none; float:left;}
.footer img { display:inline; margin:5px 10px; padding:0;}
.footer ul li { margin:0; padding:0 10px; float:left;}
.footer p { margin:0; padding:30px 20px 30px 20px; float:right; color:#3d3d3d; font:normal 11px Arial, Helvetica, sans-serif; line-height:1.8em;}
.footer a { color:#1a6fc7; font:normal 11px Tahoma, Geneva, sans-serif; text-decoration:none; line-height:1.8em;}
.footer a:hover { text-decoration:underline;}
/********** contact form **********/
.form { float:left; width:560px; margin-top:40px; margin-left:10px;}
/********** contact form **********/
#contactform { margin:0; padding:5px 10px;}
#contactform * { color:#F00;}
#contactform ol { margin:0; padding:0; list-style:none;}
#contactform li { margin:0; padding:0; background:none; border:none; display:block;}
#contactform li.buttons { margin:5px 0 5px 0;}
#contactform label { float:left; margin:0; width:100px; padding:5px 0; font:normal 12px Arial, Helvetica, sans-serif; color:#6e6e6e; text-transform:capitalize;}
#contactform label span { font:normal 10px Arial, Helvetica, sans-serif;}
#contactform input.text { width:430px; border:1px solid #c1c1c1; margin:5px 0; padding:5px 2px; height:15px; background:#fff;}
#contactform textarea { width:430px; border:1px solid #c1c1c1; margin:10px 0; padding:2px; background:#fff; height:250px;}
#contactform li.buttons input { padding:3px 0; margin:0 0 0 100px; border:0; color:#FFF;}
p.response { text-align:center; color:#FFF; font:bold 11px Arial, Helvetica, sans-serif; line-height:1.8em; width:auto;}

p.clr, .clr { clear:both; padding:0; margin:0;}
li.bg, .bg { clear:both; border-bottom:1px dashed #c3c3c3; padding:10px 0 0 0; margin:0 0 10px 0; background:none; list-style:none;}
li.line, .line { border-top:1px solid #2e0718; padding:0; margin:10px 0; background:none; list-style:none;}